/*Second/ Instagram page css*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
body{
	color: #F0FFFF;
	background-image: url("http://36.media.tumblr.com/e7e9d48331aa597cd7114550083e394f/tumblr_mvyvhoeTOD1qh2htjo1_1280.jpg");
	/*background-size: 100%;*/
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
    background-position: center; 
    /*background-repeat: no-repeat;*/

}
.here{
	vertical-align: center;
	text-align: center;
	padding-right: 1000px;
 
}

.body{
	margin-left: 500px;
	margin-bottom: 100px;
	margin-top: 50px;
}
